$white: #ffffff;
$red: #ff0033;

.eswp-post-list-admin-notice {
	padding: 1rem;
	color: $white;
	background-color: $red;
	a {
		color: $white;
		font-weight: 700;
	}
	ul {
		list-style: disc;
		padding-left: 1rem;
	}
}